<!doctype html>

<html lang="en-us">
<head>
  <meta charset="utf-8" >

  <title></title>
  <script>document.createElement('section');var duration='500',easing='swing';</script>

  <link rel="stylesheet" href="assets/css/documenter_style.css" media="all"/>
  <link rel="stylesheet" href="assets/css/demo.css" media="screen"/>
  <link rel="stylesheet" href="assets/css/jquery.dockmodal.css"/>

</head>
<body ng-app="app" ng-controller="mainCtrl" class="documenter-project-gmail-like-dockable-modal-dialog-plugin">

  
  
  <button type="button"
        class="btn btn-primary pull-right"
        ng-click="dockService.addDock('foo/foo-form.html', {title: 'Foooooo'})">
    Foo
  </button>
  <button type="button"
          class="btn btn-primary pull-right"
          ng-click="dockService.addDock('bar/bar-form.html')">
    Bar
  </button>
  
  
  
  <!--/hidden-blocks
  <script src="assets/js/script.js"></script>
  -->
  <script src="assets/js/google-code-prettify/prettify.js"></script>
  <script src="assets/js/jquery-1.9.1.min.js"></script>
  <script src="assets/js/jquery-migrate-1.1.1.min.js"></script>
  <script src="assets/js/jquery.scrollTo.js"></script>
  <script src="assets/js/jquery.easing.js"></script>
  <script src="assets/js/jquery.dockmodal.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  
  <script src="assets/js/angular.js"></script>
  
  <script src="app.js"></script>
  <script src="docks/dock-modal-directive.js"></script>
  <script src="docks/dock-service.js"></script>
  <script src="foo/fooCtrl.js"></script>
  <script src="bar/barCtrl.js"></script>

  
  
  
  <div ng-repeat="dock in dockService.docks">
    <div dock="dock"></div>
  </div>
  
  
  

</body>
</html>
